body {
    display: block;
    background-color: #e0f1e7;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.container {
    max-width: 550px;
    background-color: white;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
h2{
    padding: 10px;
}

fieldset{
    border: 0 none;
}

.input{
    width: 100%;
    padding: 10px 0px;
    margin: 8px 0;
    display: flex;
}

.n{
    font-size: small;
}

.in{
    width: 240px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.em{
    width: 500px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.qt{
    display: inline;
    border: 1px solid;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    margin: 10px;
}


.t{
    width: 500px;
    height: 100px;
}

.end {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.end .ch {
    margin-right: 10px;
}
  
.end .n {
    margin: 0;
}


.s{
    padding-left: 75px;
}

.submit{
    padding-left: 20px;
    width: 400px;
    height: 40px;
    border-radius: 2em;
    background-color: #0c7d69;
}
span{
    color: white;
}

.in:hover{
    cursor:grabbing;
}

.em:hover{
    cursor:grabbing;
}

.hidden {
    display: none;
  }
  
  .success-message {
    background-color: #264653;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  fieldset.selected {
    background-color: #e0f1e7;
  }

@media (max-width: 768px) {
    .container {
      margin: 20px;
      padding: 20px;
    }
  
    .input, .message {
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    .qt {
      flex-direction: column;
      align-items: flex-start;
    }
    .em{
        width: 200px;
    }
    .t{
        width: 300px;
    }
    .submit{
        padding-left: 3px;
        width: 200px;
    }
  }